@*{ ViewData["Title"] = "About"; }*@
<!--
    <h2>@ViewData["Title"]</h2>
    <h3>@ViewData["Message"]</h3>
-->


<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">About me</h3>
    </div>
    <div class="panel-body">
        <p>
            <br />
            Pavel Sotnikov, an engineer, developer, IT-specialist.
            <br />
            Prefers Microsoft technologies and products. Working in different projects
            in industrial, educational, sales and IT sectors since 1999, has an experience basically in the business corporate solutions.
            States, that IT-specialists, managers, system administrators in almost all companies try to apply Microsoft products in all aspects of their activities.
            Focused on .NET-development, any applicaton type.
        </p>
        <p>
            <ul> - C++/C#/Web-developer since 1999; </ul>
            <ul> - PhD of technical sciences (mathematic modelling, processes automation) since 2005;</ul>
            <ul> - Technical and business consultant/developer for ERP-systems (particular, SAP) since 2006.</ul>
            <ul> - Currently preparing for <a href="http://www.microsoft.com/ru-ru/learning/mcsd-web-apps-certification.aspx" target="_blank">MCSD certification</a>.</ul>
        </p>
    </div>
</div>