@*{ViewData["Title"] = "Contacts"}*@
<!--<h2> @*ViewData["Title"]*@ </h2> -->

<br/>
<address>
    <strong>E-MAIL:</strong> <a href="mailto:Pavel.Sotnikov.DNE@gmail.com">Pavel.Sotnikov.DNE@gmail.com</a><br />
</address>
<hr />
<p>Your comments:</p>
<form method="post">
    <textarea name="comments" cols="60" rows="5" class="html-text-box"></textarea><br>
    <input type="submit" value="Submit" class="html-text-box">
    <input type="reset" value="Reset" class="html-text-box">
</form>