<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings file="appSettings.properties" xdt:Transform="SetAttributes(file)">
    <add key="CookieDomain" xdt:Locator="Match(key)" xdt:Transform="Remove" />
    <add key="CookiePath" xdt:Locator="Match(key)" xdt:Transform="Remove" />
    <add key="CookieName" xdt:Locator="Match(key)" xdt:Transform="Remove" />
    <add key="CookieRequireSSL" xdt:Locator="Match(key)" xdt:Transform="Remove" />
    <add key="SumoLogic.Endpoint" xdt:Locator="Match(key)" xdt:Transform="Remove" />
    <add key="ServerUrl" xdt:Locator="Match(key)" value="{{ServerUrl}}" xdt:Transform="SetAttributes(value)" />
    <add key="SessionTimeout" xdt:Locator="Match(key)" value="{{SessionTimeout}}" xdt:Transform="SetAttributes(value)" />
    <add key="SigningCertificateName" xdt:Locator="Match(key)" value="{{SigningCertificateName}}" xdt:Transform="SetAttributes(value)" />
  </appSettings>
  <connectionStrings configSource="connectionStrings.properties" xdt:Transform="Replace" />
  <webApiClient configSource="webApiClient.endpoints.properties" xdt:Transform="Replace" />
</configuration>