<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- <section name="objectFactory" type="Phreesia.Configuration.ObjectFactoryConfiguration, Core.ObjectFactory" /> -->
    <!-- <section name="webApiClient" type="Phreesia.Configuration.WebApiClientConfiguration, Core.WebApi" /> -->
  </configSections>

  <!--
  <configProtectedData>
    <providers>
      <add keyContainerName="PhreesiaKeys" useMachineContainer="true" description="Uses RsaCryptoServiceProvider to encrypt and decrypt" name="PhreesiaProvider" type="System.Configuration.RsaProtectedConfigurationProvider,System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    </providers>
  </configProtectedData>
  -->

  <appSettings>
    <add key="ApplicationName" value="PSotnikovWebApp" />
    <!--
    <add key="ServerUrl" value="http://localhost/auth" />
    <add key="SigningCertificateName" value="" />
    <add key="SessionTimeout" value="60" />
    <add key="UseLegacyCookie" value="false" />
    <add key="CookieDomain" value="" />
    <add key="CookiePath" value="/" />
    <add key="CookieName" value="phreesiaPracticeAuth" />
    <add key="CookieRequireSSL" value="false" />
    <add key="SumoLogic.Endpoint" value="" />
    -->
  </appSettings>

  <!--
  <objectFactory type="Phreesia.Configuration.GenericObjectFactory, Core.ObjectFactory">
    <objects>
      <add type="Phreesia.Log.ILogService, Core.Log" objectType="Phreesia.Log.Log4Net.LogService, Phreesia.Log.Log4Net.net4" />
    </objects>
  </objectFactory>
  -->

  <connectionStrings>
    <!--
    "ConnectionStrings": {
    "PSOMasterDb": "Server=LENOVO-PC\\PSOSQLEXPRESS;Database=PSotnikov_db;User ID=PSO1;Password=dnnpso"
    // "Server=(localdb)\\mssqllocaldb;Database=aspnet-PSotnikovMasterWorkArea-eb47bec1-0245-4689-8e6f-ab6b1c0cbf36;Trusted_Connection=True;MultipleActiveResultSets=true",
    },
    "Logging": {
    "IncludeScopes": false,
    "LogLevel": {
    "Default": "Debug",
    "System": "Information",
    "Microsoft": "Information"
    }
    }
    -->

    <add name ="PSotnikov_SQLdb" connectionString="Data Source=PSOTNIKOV;Initial Catalog=;User ID=UNIVERSE\psotnikov;" providerName="System.Data.SqlClient"/>
    
    <!--
    <add name="phreesia_log_main" connectionString="Data Source=srv2015.vrn.dataart.net\sql2014dev;Initial Catalog=phreesia_log;Integrated Security=False;User ID=phreesia; Pwd=n0w1nh3ll" providerName="System.Data.SqlClient"/>
    <add name="AuthenticationServicePersistence" connectionString="89.22.50.100:7030,89.22.50.100:7031,89.22.50.100:7032,password=n0w1nh3ll,abortConnect=false" providerName="Redis" />
    -->
  </connectionStrings>

  <!--
  <webApiClient>
    <endpoints>

      <add type="ApplicationConfiguration.ClientModel.V1.IApplicationConfigurationService, ApplicationConfiguration.ClientModel" uri="http://localhost/UserManagement.ACS/" timeoutSeconds="30" failOnNotFound="True" name="UserManagement.ACS" />
      <add type="UserManagement.Model.INotificationManager, UserManagement.Model" uri="http://localhost/UserManagement.Service/" timeoutSeconds="30" failOnNotFound="True" />
      <add type="UserManagement.Model.IUserManagementManager, UserManagement.Model" uri="http://localhost/UserManagement.Service/" timeoutSeconds="30" failOnNotFound="True" />
      <add type="UserManagement.Model.IZoneManager, UserManagement.Model" uri="http://localhost/UserManagement.Service/" timeoutSeconds="30" failOnNotFound="True" />
      
    </endpoints>
  </webApiClient>
  -->

  <system.net>
    <connectionManagement>
      <add address="*" maxconnection="100"/>
    </connectionManagement>
  </system.net>
</configuration>