<?xml version="1.0" encoding="utf-8"?>
<log4net>
  <appender name="DebugAppender" type="log4net.Appender.DebugAppender">
    <immediateFlush value="true" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="diman - %date [%thread] %-5level %logger [S:%property{SessionID}, P:%property{PracticeID}, U:%property{UserID}] - %message (%exception)%newline" />
    </layout>
  </appender>
  <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
    <file value="log.txt" />
    <filter type="log4net.Filter.LevelRangeFilter">
      <param name="LevelMin" value="INFO" />
      <param name="LevelMax" value="FATAL" />
    </filter>
    <appendToFile value="true" />
    <rollingStyle value="Size" />
    <maxSizeRollBackups value="10" />
    <maximumFileSize value="100KB" />
    <staticLogFileName value="true" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%thread] %-5level %logger %message%newline" />
    </layout>
  </appender>
  <appender name="EventLogAppender" type="log4net.Appender.EventLogAppender">
    <param name="ApplicationName" value="Phreesia" />
    <filter type="log4net.Filter.LevelRangeFilter">
      <param name="LevelMin" value="ERROR" />
      <param name="LevelMax" value="FATAL" />
    </filter>
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="[%thread] %logger [S:%property{SessionID}, P:%property{PracticeID}, U:%property{UserID}] - %message (%exception)%newline" />
    </layout>
  </appender>
  <appender name="MSSQLAppender" type="Phreesia.Log.Log4Net.AsyncMSSqlAppender, Phreesia.Log.Log4Net.net4">
    <errorHandler type="Phreesia.Log.Log4Net.AppenderErrorHandler, Phreesia.Log.Log4Net.net4">
      <logWriter type="Phreesia.Log.Log4Net.ForwardingLogWriter, Phreesia.Log.Log4Net.net4"/>
    </errorHandler>
    <filter type="log4net.Filter.LevelRangeFilter">
      <param name="LevelMin" value="INFO" />
      <param name="LevelMax" value="FATAL" />
    </filter>
    <queueCompletionType value="WaitTillQueueIsEmpty" />
    <logSynchronouslyIfQueueOverflow value="true" />
    <param name="ReconnectOnError" value="true" />
    <connectionStringName value="phreesia_log_main" />
    <commandType value="StoredProcedure" />
    <commandText value="log_add_message" />
    <parameter>
      <parameterName value="@Date" />
      <dbType value="DateTime" />
      <layout type="log4net.Layout.PatternLayout" value="%utcdate{yyyy'-'MM'-'dd HH':'mm':'ss'.'fff}" />
    </parameter>
    <parameter>
      <parameterName value="@Server" />
      <dbType value="String" />
      <size value="128" />
      <layout type="log4net.Layout.PatternLayout" value="%P{Server}" />
    </parameter>
    <parameter>
      <parameterName value="@Thread" />
      <dbType value="String" />
      <size value="8" />
      <layout type="log4net.Layout.PatternLayout" value="%thread" />
    </parameter>
    <parameter>
      <parameterName value="@Level" />
      <dbType value="String" />
      <size value="8" />
      <layout type="log4net.Layout.PatternLayout" value="%level" />
    </parameter>
    <parameter>
      <parameterName value="@Logger" />
      <dbType value="String" />
      <size value="128" />
      <layout type="log4net.Layout.PatternLayout" value="%logger" />
    </parameter>
    <parameter>
      <parameterName value="@Version" />
      <dbType value="String" />
      <size value="32" />
      <layout type="log4net.Layout.RawPropertyLayout">
        <key value="Version" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@Session" />
      <dbType value="String" />
      <size value="36" />
      <layout type="log4net.Layout.RawPropertyLayout">
        <key value="SessionID" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@PracticeGUID" />
      <dbType value="Guid" />
      <layout type="log4net.Layout.RawPropertyLayout">
        <key value="PracticeID" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@UserGUID" />
      <dbType value="Guid" />
      <layout type="log4net.Layout.RawPropertyLayout">
        <key value="UserID" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@Message" />
      <dbType value="String" />
      <layout type="log4net.Layout.PatternLayout" value="%message" />
    </parameter>
    <parameter>
      <parameterName value="@Exception" />
      <dbType value="String" />
      <layout type="log4net.Layout.PatternLayout" value="%exception" />
    </parameter>
    <parameter>
      <parameterName value="@ReferenceID" />
      <dbType value="String" />
      <size value="32" />
      <layout type="log4net.Layout.RawPropertyLayout">
        <key value="ReferenceID" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@Application" />
      <dbType value="String" />
      <size value="128" />
      <layout type="log4net.Layout.RawPropertyLayout">
        <key value="Application" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@CallerApplication" />
      <dbType value="String" />
      <size value="128" />
      <layout type="log4net.Layout.RawPropertyLayout">
        <key value="CallerApplication" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@TrackingID" />
      <dbType value="Guid" />
      <layout type="log4net.Layout.RawPropertyLayout">
        <key value="TrackingID" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@TrackingAction" />
      <dbType value="String" />
      <size value="128" />
      <layout type="log4net.Layout.RawPropertyLayout">
        <key value="TrackingAction" />
      </layout>
    </parameter>
  </appender>
  <appender name="AuditSecuritySumoLogicAppender" type="Phreesia.Log.Log4Net.SumoLogic.AsyncSumoLogicAppender, Phreesia.Log.Log4Net.SumoLogic">
    <errorHandler type="Phreesia.Log.Log4Net.AppenderErrorHandler, Phreesia.Log.Log4Net.net4">
      <logWriter type="Phreesia.Log.Log4Net.ForwardingLogWriter, Phreesia.Log.Log4Net.net4" >
        <appenderRef value="MSSQLAppender" />
      </logWriter>
    </errorHandler>
    <filter type="Phreesia.Log.Log4Net.PropertyIsNotNullFilter, Phreesia.Log.Log4Net.net4">
      <param name="Key" value="AuthenticationResult" />
    </filter>
    <filter type="log4net.Filter.LevelRangeFilter">
      <param name="LevelMin" value="INFO" />
      <param name="LevelMax" value="FATAL" />
    </filter>
    <MaxQueueSize value="1024" />
    <ConnectionTimeout value="30000" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%thread] [Logger=%logger] [UserID=%P{Username}] [UserGUID=%P{UserID}] [PracticeID=%P{PracticeID}] [PracticeName=%P{PracticeName}] [IPAddress=%P{IPAddress}] [AuthenticationResult=%P{AuthenticationResult}] [AuthenticationStatus=%P{AuthenticationStatus}] [VersionName=%P{VersionName}] [QueryParameters=%P{QueryParameters}] [TrackingID=%P{TrackingID}]" />
    </layout>
  </appender>
  <root>
    <level value="ALL" />
    <appender-ref ref="DebugAppender" />
    <appender-ref ref="RollingFileAppender" />
    <appender-ref ref="MSSQLAppender" />
    <appender-ref ref="AuditSecuritySumoLogicAppender" />
  </root>
  <logger name="Phreesia.Practice.Request">
    <level value="OFF" />
  </logger>
  <logger name="Phreesia.Cache">
    <level value="INFO" />
  </logger>
  <logger name="Microsoft.AspNetCore">
    <level value="WARN" />
  </logger>
</log4net>
