@*{ViewData["Title"] = "Complex model"}*@
<!--<h2> @*ViewData["Title"]*@ </h2> -->

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Complex data model case</h3>
    </div>
    <div class="panel-body">
        <p>
            <br />
            Under construction.
            <br />
        </p>
    </div>
</div>